body {
  background-color: #f0ffff;
  margin: 10px 50px;
}

.colors {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.light-blue {
  background-color: #9fcede;
  color: #000;
}

.easy-red {
  background-color: #d73737;
  color: #000;
}

.soft-green {
  background-color: #7acb7a;
  color: #000;
}

.heavy-black {
  background-color: #222020;
  color: #fff;
}

.fonts {
  text-align: center;
  width: 100%;
}

.fonts table {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #9fcede;
}

.fonts table tr td,
.fonts table tr th {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: lightgray;
}

.fonts table tr td {
  font-size: 14px;
}

.fonts table tr th {
  color: #075974;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.plain {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.text-style {
  margin-bottom: 4px;
  padding: 10px;
  border: 1px solid #075974;
  border-radius: 10px;
  background-color: #9fcede;
}

.text-style h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.text-style h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.text-style p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
